
.sidebar-container {
	position: fixed;
	top:30%;
	right:1%;
	height:fit-content;
	display: flex;
}

.sidebar-list {
	margin:auto;
	display: flex;
	flex-direction: column;
	padding:0;

}

.sidebar-list-unit {
	justify-content: space-between;
	margin:6px auto;
	text-decoration: none;

}
.sidebar-img {
	width:45px;
}
.sidebar-social-unit-link {
	justify-content: center;
}


.side-icon-style {
	color:white;
}